! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #333333, #333333, #1e2529
rofi.color-normal: #333333, #c1c1c1, #333333, #394249, #ffffff
rofi.color-active: #333333, #80cbc4, #333333, #394249, #80cbc4
rofi.color-urgent: #333333, #ff1844, #333333, #394249, #ff1844
